.div_menu {
  background-color: black;
}
.menu {
  color: white;
}

.slider-div {
  text-align: center;
}


.footer {
  background-color: black;
  color: white;
  text-align: center;
}
.footer-alamat {
  background-color: black;
  color: white;
  text-align: center;
}
